.venv/
__pycache__/
.github
.vscode
.pytest_cache
.DS_Store
.vite/

# Environment variables
.env
api_keys.txt

# Docker mounts
example/docker_mount/

# Mini-swe-agent
.minisweagent/

tmp_*

*.log

*trajectories/
*JunoBench/
