.venv/
__pycache__/

# Environment variables
.env

.github
.vscode

# Docker mounts
example/docker_mount/
example/test_case

# Mini-swe-agent
.minisweagent/

tmp_*

*.log

*trajectories/
*JunoBench/

.DS_Store

.vite/
