.venv/
__pycache__/
.github
.vscode
.pytest_cache
.DS_Store
.vite/
.ipynb_checkpoints/

# Environment variables
.env
api_keys*.txt
config/defaults_local.yaml

# Docker mounts
example/docker_mount/

# Mini-swe-agent
.minisweagent/

tmp_*
tmp/

*.log

*trajectories*/
*JunoBench/

viewer/public/*

setup_benchmark.sh
